/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
/*
$black: #000;
$light-gray: #f1f1f1;

$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;
*/
/* My Colors */
$white: #ffffff;

$gray: #3a3a3a;

$blu: #1698da;

$background-color: #f1f1f1;

$picture-color: #c4c4c4;

$exercise-color: #000000;

$timetable-color-1: #8c9edb;
$timetable-color-2: #f76c73;
$timetable-color-3: #dbaadd;

$border-color: #00000026;
